*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,html{
    height:100%;
    font-family: Poppins-Regular, sans-serif;
}

.box{
    margin:auto;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    position:relative;
    padding: 15px;
    background: white;
    background: -webkit-linear-gradient(bottom,#0250c5,#d43f8d);
    background: -o-linear-gradient(bottom,#0250c5,#d43f8d);
    background: -moz-linear-gradient(bottom,#0250c5,#d43f8d);
    background: linear-gradient(bottom,#0250c5,#d43f8d);
    z-index: 1;
    min-height:100vh;
    width:100%;

}
.LoginContainer{
    background-color:#A020F0;
    color:white;
    display:flex;
    flex-direction:column;
    width: 60%;
    height: 600px;
    border-radius: 20px;
    align-items:center;
    justify-content: center;
    gap:10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.LoginInfo{
    margin-bottom:10px;
    justify-content:center;
    align-items:center;
    display:inline-block;
    flex-direction:column;
}
.LoginHeader{
    align-self:flex-start;
    margin-left:10%;
    font-size:16px;
}
button.LoginInfo{
    width:50%;
    height: 5%;
    border-radius:20px;
    border:none;
    outline:none;
    cursor:pointer;
    transition:background-color 0.3s, color 0.3s;
    font-size:16px;
}
button.LoginInfo:hover{
    background-color:#891bcd;
    color:white;
}

.LoginUser{
    width:80%;
    height:10%;
    border:none;
    outline:none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius:20px;
    font-size:16px;
    display:flex;
    justify-content:space-between;
    right:20px;
    padding:20px 45px 20px 20px;
}
.SignedInContainer{
    display:flexbox;
    align-items:center;
}
