.search-container {
    background-color: white;
    width:50%;
    border-radius: 10px;
    height:2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:border-color 0.3s ease;
    border: 3px solid transparent;
}

.search-container:hover{
    border-color: purple;

}
  
.search-input {
    background-color: transparent;
    border:none;
    height:100%;
    font-size:1.25rem;
    width:100%;
    margin-left:5px;
}

input:focus{
    outline:none;
}

#search-icon{
    color:purple;
}
.UilSearch {
    color: purple;
    cursor: pointer;
}

.UilSearch:hover {
    background-color: lightgray;

}