body{
    background-color:white;
}
.Navbar{
    background-color: #A865B5;
    color:white;
    font-family:sans-serif;
    position:relative;
}
.Title{
    font-size: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.LeftNavButton{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    margin-left:40px;
}
.LeftNavButton span{
    padding-left: 10px;

}
.RightNavButton{
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    margin-right: 40px;
}