.Slogan{
    color:white;
    font-size:30px;
    font-weight:bold;
    margin-bottom: 20px;
}

.top-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    height: 5vh;
}
.search-container{
    z-index:2;
}
.searchbar{
    width: max-content;
    display:flex;
    align-items:center;
    padding: 14px;
    border-radius:5px;
    background: #f6f6f6;
    width:600px;
}

.search-input{
    font-size:16px;
    font-family:'Lexend',sans-serif;
    color:#333333;
    outline:none;
    border:none;
    background:transparent;
    flex:1;
}

.search-input::placeholder{
    color: rgba(0,0,0,0.25)
}



.submit{
    cursor:pointer;
    background:none;
    outline:none;
    border:none;
    font-size:18px;
}

.submit:hover{
    background-color:lightgray;
}